.wine-info {
    width: 50%;
    margin: auto;
}

.description > h5 {
    margin: 10px auto;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
}

.country > h5,.country > p, .designation > h5, .designation > p, .province > h5, .province > p, .winery > h5, .winery > p {
    margin: 0;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
}

.country > p, .designation > p, .winery > p, .province > p {
    padding-left: 5px;
}